################################################################
# See README for GPU acceleration
#
################################################################
numpy==1.19.5
#torch
#torchvision
stanza==1.1.1
nltk==3.5
gensim==3.8.3
scipy==1.5.4
NewlineJSON==1.0
pandas==1.1.5
spacy>= 3
################################################################
# for usecase
matplotlib==3.3.3
