################################################################
# See README for GPU acceleration
#
################################################################
numpy
torch
torchvision
stanfordnlp
nltk
gensim
scipy
newlinejson
pandas
################################################################
# for usecase
matplotlib
